*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.header{
    background-color: #00b6ad;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.drop-zone{
    border: 1px dashed #c3c3c3;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
}

.drop-zone input{
    box-sizing: border-box;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

button{
    display: block;
    width: 200px;
    flex-basis: 50%;
    padding: 10px;
    background-color: #00b6ad;
    border-radius: 2px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.result{
    margin-top: 40px;
    display: flex;
    column-gap: 12px;
}

.img-container{
    flex-basis: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: #00b6ad 2px solid;
    padding: 10px;
}

.img-container img{
    max-width: 100%;
}

.text{
    flex-basis: 50%;
}

.text p{
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
}

.red{
    background-color: #ff8f8f;
}

.green{
    background-color: #97ff94;
}

@media (max-width: 600px) {
    .result{
        display: block;
    }

    .img-container{
        padding: 10px 0;
        margin: 0rem;
        max-width: 100%;
        box-sizing: border-box;
        max-height: 60vh !important;
    }

    .img-container img{
        max-width: 80vw;
        max-height: 50vh;
    }

    button{
        width: 100%;
        padding: 16px 0;
    }

    .text{
        margin-top: 20px;
    }

    .btn-container{
        flex-direction: column;
        row-gap: 10px;
    }
}